body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body, html, #root {
  height: 100%;
  min-width: 360px;
}

#root{
  overflow-y: scroll;
}