.icon_button{
    cursor: pointer;
    border: none;
    outline: none;

    background: transparent;
    background-position: center;
    transition: background-color 0.8s;
}

.icon_button--disabled .fas{
    color: grey!important; 

}

.fas {
    font-size: 30px;
    color: #142025; 
}
.small{
    font-size:13px!important;
}
